/* styles.css */

/* General styles */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: #1f1f1f;
}

.navbar-brand, .nav-link {
    color: #e0e0e0 !important;
}

.nav-link:hover {
    color: #ff9800 !important; /* Brighter color for hover effect */
}

/* Active link */
.nav-item.active .nav-link {
    color: #ffffff !important;
}

/* Button styles */
.navbar-toggler {
    border-color: #e0e0e0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28224, 224, 224, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Link styles */
a {
    color: #bb86fc;
}

a:hover {
    color: #ff9800;
}